.Lover {
  font-family: "Satisfaction"
}
.Fearless {
  font-family: "Satisfaction"
}
.evermore {
  font-family: "Satisfaction"
}
.reputation {
  font-family: "Satisfaction"
}
.SpeakNow {
  font-family: "Satisfaction"
}
.Red {
  font-family: "Satisfaction"
}
.folklore {
  font-family: "Satisfaction"
}
.NewYork {
  font-family: "Satisfaction"
}
.SurpriseSongs {
  font-family: "Satisfaction"
}
.Midnights {
  font-family: "Satisfaction"
}
