.Lover {

}
.Fearless {
  font-family: "Satisfaction"
}
.evermore {
  font-family: "Satisfaction"
}
.reputation {
  font-family: "Satisfaction"
}
.SpeakNow {
  font-family: "Satisfaction"
}
.Red {
  font-family: "Satisfaction"
}
.folklore {
  font-family: "Satisfaction"
}
.NewYork {
  font-family: "Satisfaction"
}
.SurpriseSongs {
  font-family: "Satisfaction"
}
.Midnights {
  font-family: "Satisfaction"
}
html {
  background-color: pink;
}
body {
  background-color: lightcyan;
  margin-left: inherit;
  margin-right: inherit;
  top: 0px;
  height: 1000px;
  display: block;
}
nav ul{
  list-style: none;
  margin: 0px;
  padding: 0px;

}
nav {
  background-color: pink;
  float: left;
  height: 1000px;
  padding-top: 0px;
}


nav a {
  text-decoration: none;
  color: blue;
}
h1 {
  text-align: center;
}
.landing {
  background-color: lightcyan;
}
