.Lover {
  font-family: "Brush Script MT", cursive;
}
.Fearless {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

}
.evermore {
  font-family: "Times";

}
.reputation {
  font-family: Impact, Haettenschweiler, "Franklin Goithic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans-serif";
}
.SpeakNow {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.Red {
  font-family: "Arial Narrow", Arial, sans-serif;
}
.folklore {
  font-family: "Times";
}
.NewYork {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
.SurpriseSongs {
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}
.Midnights {
font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}
.index {
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}
html {
  background-color: pink;
}
body {
  background-color: lightcyan;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  height: 2000px;
  display: block;
  padding: 10px;
  border-radius: 10px;

}
nav ul{
  list-style: none;
  margin: 0px;
  padding: 5px;

}
nav {
  background-color: pink;
  float: left;
  height: 1000px;
  position: fixed;
  font-size: 24px;
  border-radius: 10px;
}


nav a {
  text-decoration: none;
  color: palevioletred;
  padding: 20px;

}
h1 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}
h2 {
  text-align: center;
  font-size: 30px;
}
.landing {
  background-color: lightcyan;
  border-radius: 10px;
}
h1, h2 {
  margin-left: 230px;
  color: darkblue;
}

.text {
  border: 5px dotted darkblue;
  font-size: 24px;
  padding: 30px;
  margin-left: 230px;
}
img {
  width:300px;
}
.column {
  padding: 20px;
  flex: 50%;
  gap:10px;

}

.row {
  display: flex;
  gap: 10px;
}
.move {
  margin-left: 230px;
}
p {
  font-size:24px;
}
